{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.author.label(class="form-label") }}
        {{ form.author(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.isbn.label(class="form-label") }}
        {{ form.isbn(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.published_year.label(class="form-label") }}
        {{ form.published_year(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.genre.label(class="form-label") }}
        {{ form.genre(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}